@charset "utf-8";

/*
   Author: Frenshy Ruiz-Arenas
   Date:   12/29/2021
   
   Filename: about_me.css
*/

/*Html*/
html {
	background-color: #F8F8FF;
	color: #0D1A26;
}

/*Navigation*/

nav.navigation > ul > li > a:link, 
nav.navigation > ul > li > a:visited {
	color: #0D1A26;
}

nav.icons > ul > li > a:link, 
nav.icons > ul > li > a:visited {
	color: #0D1A26;
}

/*Images*/

img.family {
	width: 90%;
	height: 100%;
	display: block;
	margin: 100px auto 4px auto;
	border-bottom: solid 5px #A52A2A;
	filter:brightness(110%);
	-webkit-filter: brightness(110%);
}

/*Article*/
article {
	width: 80%;
	margin-top:  100px;
	margin-left: 40px;
	font-size: 1.3em;
}

article h1 {
	font-size: 1.5em;
	margin-bottom: 5px;
}


/*Footer*/

footer {
	color: #0D1A26;
}
