@charset "utf-8";

/*
   Author: Frenshy Ruiz-Arenas
   Date:   12/130/2021
   
   Filename: education.css
*/

/*Html*/
html {
	background-image: linear-gradient(to bottom right, #af7fbb, #F0F8FF);
	height: 100%;
	color: #000000;
}

/*Navigation*/

nav.navigation > ul > li > a:link, 
nav.navigation > ul > li > a:visited {
	color: #000000;
}

nav.icons > ul > li > a:link, 
nav.icons > ul > li > a:visited {
	color: #000000;
}

/*Table*/
caption{
	font-size: 2.5em;
	color: #1c0820;
	margin-bottom: 40px;
}

table {
	font-size: 1.5em;
	margin: 70px auto;
	background: white;
	border: 2px solid black;
	border-collapse: collapse;
	width: 50%;
}

table th{
	color: #1c0820;
}


table th, td {
	border: 1px solid black;
	padding: 14px;
	text-align: center;
}

a.footer1:link,
a.footer1:visited {
	color: #663399;
	text-decoration: none;
}

table {
	box-shadow: 0 0 80px black;
}

/*table img*/
table {
	background-image: url("../images/wsu.jpg");
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: right bottom;
}

/*Footer*/
footer {
	color: #000000;
}
